
/*@font-face {
  src: url("fonts/Pacifico.ttf");нужно скачать шрифт в папку fonts, в моём проекте
  font-family: "Pacifico",cursive;
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}*/

/*можно не скачивая шрифт в папку фонтс своего проект, пользоваться им с помощью 
ссылки. Прописав его у боди, задаём этот шрифт всем элементам 
body: font-family: "Bitstream Vera Serif Bold";
@font-face {
      font-family: "Bitstream Vera Serif Bold";
      src: url("https://mdn.github.io/css-examples/web-fonts/VeraSeBd.ttf");
}*

::-webkit-scrollbar {
  width : 0.1px; 
  height: 5px;
  pacity: 0.02;
} /* УБРАЛ ПОЛОСУ ПРОКРУТКИ С ЭКРАНА и сделал свою. 
Когда пишу сайт, чтобы на планшете отображалось содержимое от края до края страницы 
без зазоров, прокрутку можно отключить. И включить для красоты по готовности сайта.*

::-webkit-scrollbar-button {height: 50px; background :#42e10e; }  /*2 - кнопка*  

::-webkit-scrollbar-track {background: #274dd7; }  /*3 - трек *

::-webkit-scrollbar-track-piece { background: #e91e63;}  /*4 - видимая часть трека *

::-webkit-scrollbar-thumb {background: #fbe100; border-radius: 10px;
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); /*inset 1 3 13px rgb(207 10 10 / 64%)*/} /*5 - ползунок *

/*настраивает полосу прокрутки с помощью вэбкит. С этими еще не разобрался*/

/*::-webkit-scrollbar{ width: 22px; } /*1 - вертикальный скроллбар*/

/*::-webkit-scrollbar:horizontal{ height: 22px;  }  /*1 - горизонтальный скроллбар*/

/*::-webkit-scrollbar-button {background :#e50845; }  /*2 - кнопка*/  

/*::-webkit-scrollbar-track {background: #008000; }  /*3 - трек */ 

/*::-webkit-scrollbar-track-piece { background: #32CD32;}  /*4 - видимая часть трека */ 

/*::-webkit-scrollbar-thumb {background: #322e76; border-radius: 10px;
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); } /*5 - ползунок */ 

/*::-webkit-scrollbar-corner {: #32CD32; }  6 - уголок */

/*::-webkit-resizer { : #32CD32; } 7 - изменение размеров*/ 

/* * - отвечает за все элементы*
* {
box-sizing: border-box;
padding: 0;
}

html {
  min-width: 1280px; 
  height:auto;
}

body {
ox-sizing: border-box;
width: 1280px;
height: 801px;/*801px auto*
min-height: 100;
padding: 0; 
margin: 0;
background-image: url('../public/images/abstractfirebloom.png');
/*делает фотку на бэк-де, чтоб не повторялась. элементы передвигаются, как буд-то в 3д, из-за того, что фотка на бэк-е как буд-то приклееная*
background-attachment: fixed;/*фотка без движная, как буд-то приклеена к задней части сайта, не растягивалась бы на всё тело документа, а делилась на 3 одинаковые фотки*
background-size: cover;
background: linear-gradient(180deg, #F3CE0D 0%, rgba(255, 153, 0, 0.38) 92.71%, rgba(255, 184, 0, 0.37) 99.99%, rgba(255, 255, 255, 0) 100%);
/*scroll-behavior: smooth; связано с прокруткой. плавная прокрутка. не нужен если прокрутка отключена*
}

.header {padding-top: 39p;}

.filterImgHeader {
margin: 0;
filter: brightness(0.9);
}

.imgHeader {
width: 1280px;
height: 471px;
/*фотке можно не прописывать, фотку с фигмы нужно копировать уже обработанную там, чтобы красиво получился градиент, нужно, чтобы у фотки бвл прозрачный задний план*
ackground: linear-gradient(89.08deg, rgba(253, 253, 253, 0) -1.63%, rgba(0, 0, 0, 0.35) 50.55%, rgba(255, 255, 255, 0.74) 91.26%);
box-shadow: 0px 3px 34px 0px #17cf1578;
}

.shadowlogoContentHeaderNavig {
position: absolute;
width: 56px;
height: 56px;
bottom: 17px;
left: 51px;
border: 8px solid #ffeb00;
border-radius: 35px;
background-color: #fff0;
z-index: -1;
}

.contentHeaderNavig {
position: absolute;
display: flex;
justify-content: space-between;
align-items: center;
width: 1280px;
bottom: 776px; 
z-index: 1;
}

.dateLogoContentHeaderNavig {
position: absolute;
width: 60px;
top: 26px;
left: 136px;

font-family: "Play";
font-size: 20px;
letter-spacing: 2px;/*расстояние между буквами*
font-weight: bold;
color: #ff3030;
}

.dropdownFilterLogoContentHeaderNavig {
display: inline-block;  
width: 50p;
height: 50p;
margin: 0;
margin-top: 12px;
margin-left: 36px;
cursor: pointer;
}

.dropdownLogo-content {
position: absolute;
display: none; 
min-width: 160px;
top: 73px;
border-radius: 52px; 
background-color: #f9f9f9;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdownFilterLogoContentHeaderNavig:hover .dropdownLogo-content {
display: block;
-webkit-transition: all 2s ease-out .2s;/*no working*
transition: all 2s ease-out .2s;/*no working*
ransition: opacity 0.4s ease;/*no working*
}

.desc {
padding: 15px;
text-align: center;
}

.logoContentHeaderNavig {
width: 50px;
height: 50px;
border-radius: 5px;
box-shadow: 0px 0px 4px 4px #dfdfc6;
}

.logoTwoContentHeaderNavig {
width: 300px;
height: 200px;
border-radius: 5px;
}

.listContentHeaderNavig {
display: flex;
justify-content: space-between;
align-items: center;
margin-left: 146px;

font-family: "Play";
font-size: 17px;
letter-spacing: 2px;
ist-style-type: none;/*одно и то же. отключает точки у li *
list-style: none;/*одно и то же. отключает точки у li *
font-style: normal;
font-weight: 400;
line-height: 18px;
}

.itemListContentHeaderNavig {
margin-right: 88px;
}

/*для css*/
/* The container <div> - needed to position the dropdown content *

/*.dropdownShevron {
position: absolute;
display: inline-block;
top: 23px;
left: 754px;
cursor: pointer;
}

.imgDropShevronLinkItemListContentHeaderNavig {
width: 20px;
left: 754p;
}

/* Dropdown Content (Hidden by Default) *
.dropdownShevron-content {
position: absolute;  
display: none;
min-width: 160px;
background-color: #f9f9f9;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.linkItemListContentHeaderNavig {
color: white;
text-decoration-line: none;/*убрали подчёркивание под текстом у ссылок*
}

/* Links inside the dropdown *
.dropdownShevron-content .linkDropdownShevron-content {
display: block; 
padding: 12px 16px; 
color: black;
text-decoration: none;  
}

/* Change color of dropdown links on hover *
.dropdownShevron-content .linkDropdownShevron-content:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover *
.dropdownShevron:hover .dropdownShevron-content {
display: block;
}

 /*Change the background color of the dropdown button when the dropdown content is shown 
.dropdownShevron:hover .imgDropShevronLinkItemListContentHeaderNavig {
background-color: #3e8e41;
}*/ /*для css*/

/*для js*/
/* Dropdown Button *
imgDropShevronLinkItemListContentHeaderNavig {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus *
imgDropShevronLinkItemListContentHeaderNavig:hover, imgDropShevronLinkItemListContentHeaderNavig:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content *
.dropdownShevron {
position: absolute;
display: inline-block;
top: 24px;
left: 737px;
cursor: pointer;
}

.imgDropShevronLinkItemListContentHeaderNavig {
width: 20px;
left: 754p;
}

/* Dropdown Content (Hidden by Default) *
.dropdownShevron-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown *
.dropdownShevron-content .linkDropdownShevron-content {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.linkItemListContentHeaderNavig {
color: white;
text-decoration-line: none;/*убрали подчёркивание под текстом у ссылок*/
}

/* Change color of dropdown links on hover *
.dropdownShevron-content .linkDropdownShevron-content:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) *
.show {display:block;}/*для js*

.block__svgBasket__header {
osition: absolute;
left: 1006p;
}

.cickle__svgBasket__header {
position: absolute;
display: flex;
align-items: center; 
width: 37px;
height: 37px;
right: 234px;
bottom: 14px; 
border-radius: 50px;
background-color: red;
}

/*svg с фигmы копируется с тем цветом, который задан в фигме, цвет в цсс изменить нельзя*
.filter__svgBasket__header {
margin: 0;
padding-top: 4px;
padding-left: 2px;
filter: brightness(1.0);
}

.svgBasket__header {
width: 30px;
height: 30px;
}

.phoneContentHeaderNavig {
margin-right: 36px;

font-family: "Play";
font-size: 18px;
letter-spacing: 2px;/*расстояние между буквами*
list-style-type: none;/*одно и тоже. убирает точки у li*
ist-style: none;/*одно и тоже. убирает точки у li*
font-style: normal;
font-weight: bold;
line-height: 18px;
color: white;
}

.tubePhoneContentHeaderNavig {
position: absolute;
width: 21px;
right: 130px;
bottom: 21px;
}

.cardOffFilterImgHeader {
position: absolute;
display: flex;
align-items: center;
width: 67px;
height: 43px;
bottom: 786px;
left: 907px;
background-color: darkred;
z-index: 1;
cursor: pointer;
}

.main__invitation{
position: absolute;
width: 1280px;
bottom: 418px;
}

/*когда выключен background буквы красные, потому что первая тень красная
когда выключен -webkit-background-clip: text, текст буквы красные на фоне 
background:  conic-gradient,
когда выключен -webkit-background-clip: text и webkit-text-fill-color: transparent, 
буквы чёрные в фиолетовом цвете по границе на фоне background: conic-gradient, 
потому что вторая тень фиолетовая,
когда включено всё буквы красные и всё, кода выклчена text-shadow , а всё другое 
включено, то буквы цвета background: conic-gradient*
.list__main__invitation {
display: flex;
justify-content: space-evenly;/*space-between*
align-items: center;
margin: 0; 
/*для текста в фигме цвет тексту, какой мне нужно, лучше  задавть через градиент, а  не внутреннюю тень, на color можно не смотреть*
background: conic-gradient(from 90deg at 46.43% 94.62%, #F52E9A -26.31deg, #1A48EB 55.72deg, #1E48E7 124.01deg, #1E4DE5 127.54deg, #FF5207 155.99deg, #7FFE00 246.31deg, #F52E9A 333.69deg, #1A48EB 415.72deg);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
ext-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
mix-blend-mode:  normal;/*тут не катит multiply, даёт чёрный цвет (multiply, luminosity, normal)*

font-family: Pacifico, cursive;
font-size: 50px;
font-style: italic;/*текст под наклоном*
letter-spacing: 0px;
font-weight: bold;
line-height: 45p;/*рекомендует Илья ставить цифры без пикселей (1.6) или какие нужно*
ist-style-type: none;/*Убирает точки у ли*
list-style: none;/*Убирает точки у ли*
text-transform: uppercase;
}

.item-list__main__invitation {
padding-right: 37p;
argin-right: 10px;
}

.SliderWrapFlex {
osition:absolute;
display:flex;
flex-direction:column;
width:1280px;
top:483p;
left:465p;
margin-top: 4px;/*Андрей Гаврилов рекомендует использовать маржины, паддинги, для отделения элементов друг от друга, а позиции не ставить*/
}

/* Slideshow container *
.slideshow-container {
position: relative;
max-width: 1000p;
height: 341px;
background-color: #0a0a0a;
argin: auto;
}

/* Hide the images by default *
.mySlides {
display: none;
}

.filterImageSlide {
margin: 0 auto;
filter: brightness(0.8);
}

.imageSlide {
width: 1280px;
height: 341px;
}

/* Next & previous buttons *
.prev, .next {
position: absolute;
width: auto;
top: 50%; 
padding: 15px;
border: none;
border-radius: 0 3px 3px 0;
background-color: #0000;

margin-top: -22px;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
user-select: none;
color: white;
cursor: pointer;
}

/* Position the "next button" to the right *
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through *
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* Caption text *
.text {
position: absolute;
width: 100%;
bottom: 8px;
padding: 8px 12px;  
font-size: 15px;
text-align: center;
color: #f2f2f2;
}

/* Number text (1/3 etc) *
.numbertext {
position: absolute;
top: 0; 
padding: 8px 12px;   
font-size: 12px;
color: #f2f2f2; 
}

/* The dots/bullets/indicators *
.dot {
display: inline-block;
width: 15px;
height: 15px;
border-radius: 50%;
margin: 0 2px;
background-color: #fff;
cursor: pointer;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #000000;
}

/* Fading animation *
.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.block__slider__tokarevskay {
position: absolute;
top: 900px;
}

.hand {
position: absolute;
display: grid;
place-items: center;
width: 321px;
top: -46px;
left: 19px;
color: #0a0ad9;
eight: 100vh;
margin: 0;
cursor: pointer;
font-family: math;
transition: 0.6s ease;
nimation: magic 2s infinite;/*подключаем бесконечные движения и скорость*
nimation-iteration-count: 4;
}

p {
margin: 0;
}

.p--magic {
animation-duration: 2s;
animation-name: magic;
nimation-iteration-count: magic 3s revert;  
}

@keyframes magic {

from {transform: rotate(0); ransform: scale(0);}

to {transform: rotate(25deg); ransform: scale(1.05);}
}

.link__photo__gubkaBobeSmall__main {
position: absolute;
display: flex;
justify-content: space-between;
align-items: center;
width: 359px;
top: -39px;
left: 438px; 
text-decoration-line: none;/*убрали подчёркивание под текстом у ссылок*
}

.h1 {  
display: table;
width: 310px;
background: -webkit-linear-gradient(8deg, rgba(131,58,180,0.7679446778711485) 12%, rgba(164,144,101,0.6727065826330532) 39%, rgba(178,181,67,0.3169642857142857) 54%, rgba(29,253,126,0.5018382352941176) 64%, rgba(252,176,69,0.7063200280112045) 80%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
mix-blend-mode: multiply;/*multiply luminosity normal*  
margin: 0;
font-family: Pacifico, cursive;
font-size: 35px;
font-weight: bold; 
text-transform: uppercase;
}

.filter__photo__gubkaBobeSmall__main {
margin: 0;
filter: brightness(0.9);
transition: 0.6s ease;
z-index: 1;
}
.filter__photo__gubkaBobeSmall__main:hover {
transform: scale3d(2.5, 2.5, 1.5);
}

.photo__gubkaBobeSmall__main {
width: 50px;
height: 50px;
}

/* Position the tooltip *
.tooltip {
position: absolute;
display: inline-block;
width: 357p;/*включаю, когда добавляю текст HELLO HELLO, только тогда нужно будет регулировать положение tooltip .tooltiptext*
bottom: 0px;  
left: 850px;
border-bottom: 1px dotted black;
color: white; 
font-family: 'Play', cursive;;
font-size: 34px;
}

.tooltip .tooltiptext {
/* Position the tooltip *
position: absolute; 
width: 305px;
bottom: 11px;
left: 117px;
padding: 5px 0;
border-radius: 6px; 
background-color: #262122;
font-family: "Pacifico", cursive;
font-size: 20px;
text-align: center;
color: #fff;
visibility: hidden;  
z-index: 1;   
}

.tooltip:hover .tooltiptext {
  visibility: visible; 
}

.iframe__main {
position: absolute;
width: 300px;
height: 200px;
top: 48px;
left: 22px;
}

/*Slider Tokarevskoy*
.Slider-wrapper {
position: absolute;  
display: flex;
justify-content: center;
top: 931p;
left: 379px;  
}

.slider {
position: relative;
margin: 20px 0;
}

.slider__images {
position: relative;
width: 500px;
height: 250px;
}

.slider__images-title {
position: absolute;
width: 100%;
bottom: 0;
left: 0;
padding: 7px 0;
background: rgba(0,0,0,0.5);
color: #fff;
text-align: center;
z-index: 1;  
}

.slider__images .image {
position: absolute;
width: 100%;
height: 100%;  
top: 0;
left: 0; 
background-size: cover;
background-position: center center;  
opacity: 0;
transition: opacity 800ms ease;
}

.slider__images .image.active {
opacity: 1;
}

.slider__arrows {
position: absolute;
width: 100%;
height: 100%;  
top: 0;
left: 0;
color: #fff;
}

.slider__arrow {
position: absolute;
display: flex;
align-items: center;
justify-content: center;  
width: 15%;
height: 100%;
background: rgba(0, 0, 0, 0.4);
font-size: 20px;
text-align: center;
opacity: 0;
transition: opacity 0.4s ease;
cursor: pointer;  
}

.slider__arrow:hover {
opacity: 1;
}

.slider__arrow.left {
left: 0;
}

.slider__arrow.right {
right: 0;
}

.slider__dots {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: -20px;
  left: 0; 
}

.slider__dots-item {
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background 0.4s ease;
}

.slider__dots-item:hover, .slider__dots-item.active {
background: #000;
}

.form2g {
position: absolute;
top: 45px;
left:1037px;
text-align: center;
}

.label2g {
position: absolute;
bottom: 33px;
left: 18px;
color: #f00; 
font-size: 20px;
}

.inp1g {
width: 167px;
height: 25px;  
text-align: center;
background-color: skyblue;
border: 2px solid brown;
}

.inp3g {
position: absolute;  
display: flex;
justify-content: space-between;
align-items: center;
width: 101px;
height: 31px;
top: 39px;
right: 33px;
border: 2px solid #ff9000;
background-color: skyblue;
color: #40170b;

font-size: 20px;
transition: 0.6s ease;
box-shadow: 0px 5px 20px 0px #1524e3;
cursor: pointer;
}

.btn_icon {
position: absolute;
top: 4px;
left: 77px; 
color: darkred;   
}

.btn:hover {
 transform: scale(1.08);
}

.btn--magics .btn_icon {
animation-duration: 1s;
animation-name: magics;
nimation-iteration-count: infinite;/*чтоб заработало, нужно добавить а и отключить в скрипте*
}

@keyframes magics {

from {transform: rotate(0); ransform: scale(0);}

to {transform: rotate(360deg); ransform: scale(1.05);}
}

.text__btn-inp3g {
position: absolute;
margin: 0;
left: 18px;
color: #fff;
}

.form {
position: absolute;
top: 201px;
left: 953px;    
}

.yandex {
position: absolute;
bottom: 31px;
left: 22px;
font-size: 20px;
color: #0095ff;
}

.in1 {
height: 24px;  
border: 2px solid cyan;
margin-right: 18p;
background-color: yellow;
text-align: center;
}

.in2 {
position: absolute;
width: 70px;
height: 30px;
top: 36px;
left: 51px;
border: 2px solid darkred;
color: darkred;
background-color: yellow;
box-shadow: 0px 0px 10px 0px #3deb11;
cursor: pointer;
transition: 0.6s ease;
}

.in2:hover {
 transform: scale(1.08);
}

.filter__picture__slider__main {
position: absolute;
top: 169px;
left: 1158px;
}

.picture__slider__main {
width: 100px;
height: 100px;
}

.photoLike {
position: absolute;
width: 1280px;
height: 500px;
top: 1239px;
background-color: black;
}

.filter__photoForm__main {
position: absolute;
top: 64px;
left: 90px;
margin: 0;
}

.photoForm__main {
width: 567px;
height: 365px;
background-color: transparent;/*прозрачный бэкграунд, здесь можно не писать*
}

.filter__imgLika__main {
position: absolute;
argin: 0;
left: 780px;
filter: brightness(0.9);
}

.imgLika__main {
width: 500px;
height: 500px;
/*копируя фото с маской из фигмы линар градиент можно здесь не прописывать, фотка копируется уже с этими стилями*
ackground: linear-gradient(89.08deg, rgba(253, 253, 253, 0) -1.63%, rgba(0, 0, 0, 0.35) 50.55%, rgba(255, 255, 255, 0.74) 91.26%);
}

.block__video__main {
position:absolute;
top:1763px;
}

.texIframe-main {
position: absolute;
z-index: 1;
color: greenyellow;
left: 300px;
}

.video__main {
position: absolute;
width: 310px;
height: 301px;
top: 1491px;
left: 67px;
background-color: brown;
background-image: url(../public/images/1-fig.png);/*url(../public/images/1-fig.png); для App.css*
z-index: 1;
}

.video__one__main {
position:absolute;
width: 255px;
height: 141px;
top:92px;
left:697px;
animation-name: mymove;
nimation-duration: 35s; /*регулируется быстрота и медлительность движения video_T без этого не двигается*
cursor:pointer
}

@keyframes mymove {
from { left:0px; }
to { left:1250px; } /*ставим размер экрана, чтобы гугл исчезал если нужно*
}

.video__two__main {
position:absolute;
width: 232px;
height: 131px;
top:92px;
left:1023px;
background-color: brown;
cursor:pointer
}

.filter__heading__main {
position:absolute;
top:1763p;
left:15px
}

.img__heading__main {
width:1254px;
height:200px
}

.filter__imgGybka__main {
position:absolute;
width:1280px;
height:946px;
top:2000px;
margin:0;
background-image:url(https://habrastorage.org/getpro/habr/upload_files/a9a/f93/999/a9af939990868d0c9bec5d02973e1400.gif);
background-size:contain;
background-repeat:no-repeat;
filter:brightness(0.7)
}

 #search-highlight {
      position: absolute;
     top: 2975px;
      z-index: 1;
    }

    .results {
       position: absolute;
      z-index: 1;
    }

    .content {
       position: absolute;
       top: 3001px;
       color: black;
      z-index: 1;
    }

 /*поле ввода*
    .searchtext {
      font-size: 16px;
      font-weight: bold;
      height: 27px;
      padding: 0 6px 0;
      width: 250px;
      /*делаем стильную границу вокруг поля*
      border: 1px solid rgba(0, 0, 0, 0.1);
      z-index: 1;
    }

    /* выбираем цвет подсветки — светло-зелёный*
    .highlight {
      background: #4CFF00;
    }

    /*кнопка поиска*
    .search-button {
      background-color: #0B2F3F;
      font-weight: bold;
      font-size: 12px;
      width: 45px;
      /*устанавливаем высоту кнопки*
      height: 28px;
      margin: 0;
      color: #ffffff;
      padding: 6px;
      /*тоже делаем стильную границу у кнопки*
      border: 1px solid rgba(0, 0, 0, 0.1);
    }

.player {
position: absolute;
top: 2956px;
left: 401px;
}

/*Слайдер 3 автомат со стопом
.sectionSlider {
position: absolute;
display: flex;
width: 1280px;
height: 881px;
top: 1458p;
left: 130p;
ackground-image: url(https://i.pinimg.com/originals/f0/6d/24/f06d24a28474a6040c76b41d80a88543.gif);/*изображени герлянды под задний фон слайдера*
ackground-image: url(https://acegif.com/wp-content/uploads/gif/snwflks-53.gif);/*для слайдера можно сделать бэкграунд в виде картины с гирляндами*
ackground-size: cover;
ox-shadow: 0px 0px 31px 28px beige;
}

.sliderWrapFlex {
position: absolute;
display: flex;
width: 962px;
height: 668px;
top: 111px;
left: 168px;
ackground-color: #000;
box-shadow:0px 0px 0px 6px beige;
}

.container{
position: absolute;
width: 962p; 
height: 668p;
}

/*делаем размеры слайдера ширину, высоту*
#slides{
  position: relative;
  width: 962px;
  height: 668px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;/* убрали точки у лишек*
}

/*можно устанавливать нужный бэкграунд для карточек, который нужен будет*
.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;

  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.showing{
  opacity: 1;
  z-index: 2;
}

.controls{
  display: none;
}

/*
non-essential styles:
just for appearance; change whatever you want
*

.slide{
  padding: 40p;
  box-sizing: border-box;
  background: #333;
  color: #fff;
  background-size: cover;
  font-size: 40px;
}

/* http://unrestrictedstock.com/wp-content/uploads/snowy-winter-vignette-bokeh-night-snow-falling-free-stock-photo.jpg *
.slide:nth-of-type(2){
  background-color: red;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/snowy-winter-vignette-bokeh-night-snow-falling-free-stock-photo.jpg');
background-size: cover;
}

/* http://www.dawghousedesignstudio.com/wp-content/uploads/2010/01/25/free-stock-photos-1.jpg *
.slide:nth-of-type(7){
  background-color: orange;
  ackground-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/free-stock-photos-1.jpg');
}

/* http://www.stockfreeimages.com/static/homepage/waterfall-free-stock-photo-244915.jpg *
.slide:nth-of-type(8){
  background-color: green;
  ackground-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/waterfall-free-stock-photo-244915.jpg');
}

.controls{
  background: #00000038/*#333*;
  color: #fff;
  border: none;
  padding: 20px 0px;
  font-size: 20px;
  cursor: pointer;
  order: 2px solid #fff;
  margin: 10px 0px 0px 10px;
  width: 70p;
  ransition: background-color 0.6s ease;
  transition: opacity 0.4s ease;
  opacity: 0.2;  
}

.controls:hover, .controls:focus{
  /*background: #eee;
  color: #333;*
  opacity: 1; 
}

.control {
position: absolute;
    width: 55px;/*662px эти размеры нужно если кнопку делать внизу большую*
    height: 55px;/*67px эти размеры нужно если кнопку делать внизу большую*
    top: 600px; /*реальное расстояние прописано в мэйн.джс*
    left: 152px;/*реальное расстояние прописано в мэйн.джс*
    background: #00000038/*#333*;
    border: none;
    border-radius: 50px;
    transform: rotate(0deg);
    transition: opacity 0.4s ease; 
    color: white;
    opacity: 0.5;
    cursor: pointer; 
}

.control:hover, .control:focus {
background-color: #000000a1;  
opacity: 1;
}

.buttons{
  position: absolute;
  display: fle;
  left: -10px;
  top: -10px;
  z-index: 10;
  font-size: 0px;
}

.filterimgSlide {
width: 962px/*100%*/;/*уменьшая ширину, сужаются  фотки*
height: 668px/*100%*/; /*можно здесь регулировать высоту фоток*
filter: brightness(0.7);/*прописав маржин топ, маржин лэфт, можно регулировать положение фоток*
}

.imgSlide {
width: /*962px*100%;/*можноуменьшать и увеличивать ширину фотки*
height: /*668px*100%;/*можноуменьшать и увеличивать высоту фотки*
}

/*.imgSlideTwo {
position: absolute;
width: 50%;
height: 100%;
}*

.textSlide {
position: absolute;
display: flex;
justify-content: center;
align-items: center;
width: 962px;
height: 50px;
color: white;
background-color: #00000017;
font-size: 30px;
font-weight: bold;
font-style: italic;
z-index: 1;
}

.textTwoSlide {
position: absolute;
width: 254px;
bottom: 589p;
left: 607p;

font-family: Pacifico;
font-size: 32px;
font-weight: bold;
font-style: ;
color: red;
}
*



@media screen and (max-width: 1300px) {}

@media screen and (max-width: 1024px) {
.contentHeaderNavig {bottom: 688px;} 
}

@media screen and (max-width: 800px) {
.contentHeaderNavig {bottom: 1177px;}
}

@media screen and (max-width: 768px) {
.contentHeaderNavig {bottom: 688px;} 
}

@media screen and (max-width: 425px) {
.contentHeaderNavig {bottom: 688px;} 
}

@media screen and (max-width: 375px) {
body {height: 2949px;}
.contentHeaderNavig {bottom: 688px;} 
}